<div class="predefined">
    <div ng-repeat="slide in slides" class="item active">
        <img ng-src="{{slide.image}}" ng-click="switchPositions(slide.index, position)" />
    </div>
</div>
<div class="item-preview">
    <div class="pull-left">
        <div class="image">
            <div style="{{positions.line1.startx}}:{{positions.line1.x}};{{positions.line1.starty}}:{{positions.line1.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line1}}</div>
            <div style="{{positions.line2.startx}}:{{positions.line2.x}};{{positions.line2.starty}}:{{positions.line2.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line2}}</div>
            <div style="{{positions.line3.startx}}:{{positions.line3.x}};{{positions.line3.starty}}:{{positions.line3.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line3}}</div>
            <div style="{{positions.line4.startx}}:{{positions.line4.x}};{{positions.line4.starty}}:{{positions.line4.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line4}}</div>
            <div style="{{positions.line5.startx}}:{{positions.line5.x}};{{positions.line5.starty}}:{{positions.line5.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line5}}</div>
            <div style="{{positions.line6.startx}}:{{positions.line6.x}};{{positions.line6.starty}}:{{positions.line6.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line6}}</div>
            <div style="{{positions.line7.startx}}:{{positions.line7.x}};{{positions.line7.starty}}:{{positions.line7.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line7}}</div>
            <div style="{{positions.line8.startx}}:{{positions.line8.x}};{{positions.line8.starty}}:{{positions.line8.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line8}}</div>
            <div style="{{positions.line9.startx}}:{{positions.line9.x}};{{positions.line9.starty}}:{{positions.line9.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line9}}</div>
            <div style="{{positions.line10.startx}}:{{positions.line10.x}};{{positions.line10.starty}}:{{positions.line10.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line10}}</div>
            <div style="{{positions.line11.startx}}:{{positions.line11.x}};{{positions.line11.starty}}:{{positions.line11.y}};position: absolute;" class="ng-binding ng-scope">{{binding.line11}}</div>
        </div>
        <div class="btn-group btn-group-sm clearfix">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Лицевая</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Тыльная</button>
            </div>
        </div>
    </div>
    <div class="background-edit pull-left">
        <div class="btn-group">
            <button type="button" class="btn btn-default">Загрузить</button>

            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Выбрать готовый
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Фон 1</a></li>
                    <li><a href="#">Фон 2</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="text-values clearfix ng-scope">
    <input type="text" ng-model="binding.line1" name="company_name" placeholder="Название компании" class="ng-scope ng-valid ng-dirty">
    <input type="text" ng-model="binding.line2" name="company_slogan" placeholder="Слоган" class="ng-scope ng-valid ng-dirty">
    <input type="text" ng-model="binding.line3" name="company_address_line1" placeholder="Адресс(линия 1)" class="ng-scope ng-valid ng-dirty">
    <input type="text" ng-model="binding.line4" name="company_address_line2" placeholder="Адресс(линия 2)" class="ng-scope ng-valid ng-dirty">
    <br />
    <input type="text" ng-model="binding.line5" name="user_position" placeholder="Должность" class="ng-scope ng-valid ng-dirty">
    <input type="text" ng-model="binding.line6" name="user_firstname" placeholder="Имя" class="ng-scope ng-valid ng-dirty">
    <input type="text" ng-model="binding.line7" name="user_lastname" placeholder="Фамилия" class="ng-scope ng-valid ng-dirty">
    <br />
    <input type="text" ng-model="binding.line8" name="user_phone" class="ng-scope ng-valid ng-dirty" ui-mask="+999 (99) 999-99-99">
    <input type="text" ng-model="binding.line9" name="user_fax" class="ng-scope ng-pristine ng-valid" ui-mask="+999 (99) 999-99-99">
    <br />
    <input type="text" ng-model="binding.line10" name="user_site" placeholder="Сайт" class="ng-scope ng-pristine ng-valid">
    <input type="text" ng-model="binding.line11" name="user_email" placeholder="Емейл" class="ng-scope ng-pristine ng-valid">
</div>